<!DOCTYPE html>
<html>

<head>
    <title>Edit Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1>Edit Todo</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/todo">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/todo/unfinished">Unfinished Todos</a>
            </div>
        </div>
    </nav>
    <form action="/todo/update/<%= todo.id %>" method="POST">
        <div class="form-row align-items-center col-auto">
            <input type="text" name="title" id="title" value="<%= todo.title %>" autofocus />
            <input type="date" name="dateBegin" id="dateBegin" value="<%= todo.dateBegin %>" />
            <input type="date" name="dateEnd" id="dateEnd" value="<%= todo.dateEnd %>" />
            <select name="status" id="status">
                <% statuslist.forEach(function(status) { %>
                <% if(status.name == todo.status) { %>
                <option value="<%= status.name %>" selected><%= status.name %></option>
                <% } else { %>
                <option value="<%= status.name %>"><%= status.name %></option>
                <% }}); %>
            </select>
            <input type="text" name="tags" id="tags" value="<%= todo.tags %>" autofocus />
            <input type="submit" />
        </div>
    </form>
</body>

</html>